This is an unfinished ground-up re-code of QRSSVD written with a GTK GUI designed in Glade (in contrast to the pure TK UI).

![Alt text](screenshot1.png?raw=true "screenshot1")

![Alt text](screenshot2.png?raw=true "screenshot2")

![myimage-alt-tag](https://github.com/swharden/QRSS-VD/blob/master/alternative%20glade%20version/screenshot1.png)
![myimage-alt-tag](https://github.com/swharden/QRSS-VD/blob/master/alternative%20glade%20version/screenshot2.png)
